* {
	margin: 0px; 
	padding: 0px; 
}

body, html {
  overflow-x: hidden;
  padding: 0%;
  margin: 0%;
	height: 100%;
  font-family: Arial;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}


/*login cha box */
.wrap_login {
  margin-top: 5%;
  width: 45%;
  background: #fff;
  border-radius: 10px;
  padding-top: 3%;
  padding-bottom: 3%;
}

/*------------------------------------------------------------------
[  ]*/

.uploadimg img {  
  max-width: 100%;
  position: relative;
  top: 10%;
  left: 100%;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  margin-right:0;
  margin-left:0;
}


.btnmargin{
  margin-left: 30%;
}


.upload-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  background: #57b846;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}
